@charset "utf-8";

html {
	background-color: rgb(230, 230, 230);
}

h1#title_head, h2#title_head {
	text-align: center;
}

nav ul {
	list-style-type: none;
	font-family: Arial;
	background-color: rgb(200, 200, 200);
	color: black;
}

body {
	background-color: white;
	font-family: Arial;
}

aside h2 {
	text-align: left;
}

img {
	display: block;
	margin: auto;
}

